.chat-container {
    flex: 1;
}

.paint-container {
    flex: 1.5;

    display: flex;
    flex-direction: column;
    height: 100%;
}

tbody {
    display: block;
    overflow-y: auto;
    height: calc(58vh);
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table {
    margin-bottom: -0.5rem !important;
}
