<!-- Copied from https://codepen.io/nmcinteer/pen/owZoqe -->
<div id="color-picker">
    <div class="wrapper-dropdown">
        <span (click)="showColorDropDownOptions = !showColorDropDownOptions">
            <span [style.background]="colorToUse"></span>
            {{ colorToUse }}
        </span>
        <ul *ngIf="showColorDropDownOptions" class="custom-dropdown">
            <li *ngFor="let color of colors" (click)="setColor(color)">
                <span [style.background]="color"></span> 
                {{color}}
            </li>
        </ul>
    </div>
</div>
<!-- End of copied area -->

<canvas #canvas class="drawer">
</canvas>